<label for="{{id}}">{{label}}</label>
<input name="{{name}}" id="{{id}}" type="text" {{#class}}class="{{class}}" {{/class}}{{#value}}value="{{value}}" {{/value}}{{#maxlength}}maxlength="{{maxlength}}" {{/maxlength}}/>