<li class="attachments {{li_class}}" data-upload-url="{{upload_url}}" data-update-url="{{update_url}}">
	<label>{{label}}</label>
	<div class="attachments" id="{{id}}-files">
		{{#files}}
		<div class="attachment">
			<img class="mime {{#mime}}{{html_class}}{{/mime}}" src="{{blank_img}}" alt=""/>
			<a class="file" href="{{download_url}}">{{filename}}</a>
			<input type="hidden" name="attachments[]" value="{{id}}"/>
			<a class="button remove" href="javascript:;" title="{{__remove}}">&times;</a>
		</div>
		{{/files}}
	</div>
</li>
<li>
	<label for="{{id}}"></label>
	<input id="{{id}}" type="button" value="{{button_label}}"{{#class}} class="{{class}}"{{/class}}/>
</li>