<li>
	<label for="{{id}}">{{label}}</label>
	<input type="text" name="{{name}}" value="{{value}}" class="colorpicker"/>
	<img id="{{id}}" class="{{#class}}{{class}} {{/class}}colorpicker" style="background:{{#value}}{{value}}{{/value}}{{^value}}none{{/value}};visibility:hidden" src="{{img_blank}}" alt="{{select_color}}" title="{{select_color}}"/>
</li>