<li>
	<label for="{{id}}">{{label}}</label>
	<input name="{{name}}" id="{{id}}" type="text" class="{{#class}}{{class}} {{/class}}short datepicker" {{#value}}value="{{value}}" {{/value}}maxlength="{{maxlength}}" data-datepicker-options="{{options_json}}" />
</li>