<label for="{{id}}">{{label}}</label>
<input name="{{name}}" id="{{id}}" type="text" {{#value}}value="{{value}}" {{/value}} class="{{#class}}{{class}}{{/class}}{{^class}}medium{{/class}}" maxlength="254"/>