<li>
	<label>{{label}}</label>
	{{#options}}
	<input type="radio" name="{{name}}" value="{{value}}" id="{{id}}"{{#class}} class="{{class}}"{{/class}}{{#checked}} checked="checked"{{/checked}}{{#disabled}} disabled="disabled"{{/disabled}}>
	<label for="{{id}}">{{label}}</label>
	{{/options}}
</li>