<input name="{{name}}" id="{{id}}" type="checkbox"{{#value}} value="{{value}}"{{/value}}{{#checked}} checked="{{checked}}"{{/checked}}/>
<label for="{{id}}"{{#label_class}} class="{{label_class}}"{{/label_class}}>{{label}}</label>