<label class="{{#label_class}}{{label_class}}{{/label_class}}{{^label_class}}auto{{/label_class}}">
	<input type="submit" value="{{value}}"{{#name}} name="{{name}}"{{/name}}{{#id}} id="{{id}}"{{/id}}{{#disabled}} disabled="disabled"{{/disabled}}/>
</label>